
  <main class="px-3">
    <h1>Build your page.</h1>
    <p class="lead">Feel free to take a look into my coding portfolio web page, which is hosted by GitHub</p>
    <p class="lead">
      <a href="https://louieiply.github.io/React-Portfolio" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Take me there</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>